#header .nav-spacer {
  flex: 1 1 auto;
}

#header .navbar {
  background-color: #82D1FF;
}

#header .navbar img {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.user-menu {
  background-color: #82D1FF;
}
