/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html {
  background-color: #B0E2FF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: 'Roboto';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
  margin-top: 1%;
}

.form .mat-focused .mat-form-field-label {
  color: #ECF8FF !important;
 }

.form .mat-form-field-underline {
  background-color: #ECF8FF !important;
}

.form .mat-form-field-ripple {
 background-color: #ECF8FF !important;;
}

.form mat-form-field {
  width: 100%;
}

.mat-button.btn {
  background-color: #ECF8FF;
  color: lightskyblue;
}

hr {
  border: 1px solid #ECF8FF;
}

.error-message {
  background-color: lightcoral;
  color: #ECF8FF;
}

.success-message {
  background-color: lightgreen;
  color: #ECF8FF;
}
