/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html {
  background: url(assets/images/Background/background-image2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: 'Roboto';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
  margin-top: 1%;
}

.form mat-form-field {
  width: 100%;
}

.mat-button.btn {
  background-color: whitesmoke;
  color: lightskyblue;
}

hr {
  border: 1px solid whitesmoke;
}
