#footer .fa-icon {
  color: white;
}

#footer .footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-bottom: 1%;
}

#footer .footer-item {
  padding-right: 2%;
  float: right;
}

#footer .footer-item:hover {
  cursor: pointer;
}
