#login-register .login-container {
  width: 96%;
  top: 18%;
  position: fixed;
  padding: 1%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

#login-register .error-message {
  border: 2px red solid;
  border-radius: 3px;
  color: red;
  text-align: center;
  padding: 1px;
}

#login-register .register-container {
  width: 96%;
  top: 10%;
  position: fixed;
  padding: 1%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

#login-register .card {
  margin: 0 auto;
  width: 25%;
  height: auto;
  background-color: lightskyblue;
}

#login-register .show-password {
  cursor: pointer;
}

#login-register .btn {
  width: 40%;
}

#login-register .register-nav {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5%;
}

#login-register .btn-login {
  width: 85%;
  background-color: whitesmoke;
  color: lightskyblue;
}

#login-register .btn-nav {
  background-color: lightskyblue;
  width: 85%;
  border: 2px solid whitesmoke;
}

#login-register .register-nav-item-btn {
  text-align: right;
}
