#login-register .login-container {
  width: 96%;
  top: 15%;
  position: fixed;
  padding: 1%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

#login-register .register-container {
  width: 96%;
  top: 10%;
  position: fixed;
  padding: 1%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

#login-register .card {
  margin: 0 auto;
  width: 25%;
  height: auto;
  background-color: lightskyblue;
}

#login-register .show-password {
  cursor: pointer;
}

#login-register .btn {
  width: 40%;
}

#login-register .login-btn {
  width: 100%;
  text-align: right;
}

#login-register .register-nav {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10%;
}

#login-register .btn-nav {
  background-color: lightskyblue;
  width: 85%;
  margin-right: -4%;
  border: 2px solid whitesmoke;
}

#login-register .register-nav-item-btn {
  text-align: right;
}
