#home .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#home .logged-in-container {
  display: flex;
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

#home .logged-in-card {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  height: 300px;
  background-color: #82D1FF;
}

#home .logged-in-card .mat-card-content {
  margin-top: 25%;
  margin-bottom: auto;
}

#home .logged-in-card .mat-card-content button {
  margin-top: 5%;
  width: 75%;
  height: 60px;
  border: 2px whitesmoke solid;
}

#home .top {
  margin-left: -10%;
}

#home .left {
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#home .right {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#home .centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#home .mobile-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 20;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
}
