#home .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#home .top {
  margin-left: -10%;
}

#home .left {
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#home .right {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#home .centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#home .mobile-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 20;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
}
